<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="user1" class="org.example.bean.User">
            <!-- 属性赋空值的写法-->
            <property name="userid">
                <null></null>
            </property>
            <!-- 特殊符号的转义符写法 和  CDATA 写法-->
             <property name="username" value="&amp;haha"/>
            <property name="password">
                <!-- 注意换行空格都有效 sensitive -->
                <value><![CDATA[!@#$%^]]></value>
            </property>
        </bean>
</beans>